
<div class="container" style="margin-top:20px;">
    <div class="row">
        <ul>
            <li>@Html.ActionLink(Resources.Resources.Import, "Index", "ProductImport")</li>            
            <li>@Html.ActionLink(Resources.Resources.ProductCategories, "Index", "Categories")</li>            
            <li>@Html.ActionLink(Resources.Resources.Units, "Index", "Units")</li>
            <li>@Html.ActionLink(Resources.Resources.Products, "Index", "Products")</li>
            <li>@Html.ActionLink(Resources.Resources.Contacts, "Index", "Contacts")</li>
            <li>@Html.ActionLink(Resources.Resources.CategoriesInGallery, "Index", "PhotoCategories")</li>
            <li>@Html.ActionLink(Resources.Resources.Gallery, "Index", "Photos")</li>
            <li>@Html.ActionLink(Resources.Resources.NewsCategories, "Index", "NewsCategories")</li>
            <li>@Html.ActionLink(Resources.Resources.News, "Index", "News")</li>
            <li>@Html.ActionLink(Resources.Resources.Users, "Index", "Users")</li>
        </ul>
    </div>
</div>