@{
    ViewBag.Title = "Admin Page";
}

<div class="container">
    <div class="row">
        <ul>
            <li>@Html.ActionLink("Product Categories", "Index", "Categories")</li>
            <li>@Html.ActionLink("Manufacturers", "Index", "Manufacturers")</li>
            <li>@Html.ActionLink("Units", "Index", "Units")</li>
            <li>@Html.ActionLink("Products", "Index", "Products")</li>
            <li>@Html.ActionLink("Contacts", "Index", "Contacts")</li>
            <li>@Html.ActionLink("Categories in Gallery", "Index", "PhotoCategories")</li>
            <li>@Html.ActionLink("Gallery", "Index", "Photos")</li>
            <li>@Html.ActionLink("News Categories", "Index", "NewsCategories")</li>
            <li>@Html.ActionLink("News", "Index", "News")</li>
            <li>@Html.ActionLink("Users", "Index", "Users")</li>
        </ul>
    </div>
</div>