@model IEnumerable<DioKftSite.Models.News>

@Styles.Render("~/Content/news-page")

<div class="row">
    <img class="col-md-12" src="~/Content/Images/product-header.png" />
</div>

<div class="container" id="newsListContainer">    
    <div class="panel panel-default">
        <div class="panel-body">

            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="@Url.Content(item.ImageUrl)" class="img-responsive">
                    <div class="serviceContent">
                        <div class="title"><h4>@item.Header</h4></div>
                        <div class="text">@item.Body</div>
                        <button type="button" class="btn" onclick="location.href='@Url.Action("Details", "NewsPage", new { id = item.Id })'">@Resources.Resources.NewsDetails</button>
                        <div class="date">@item.Created.ToString("yyyy.MM.dd.")</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
