@model DioKftSite.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)                        
        </dd>

        <dt>
            @Html.Label("Image")
        </dt>
        <dd>
            <img src="@Url.Content(Model.ImageUrl)" class="img-responsive admin" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoUrl)            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoUrl)            
        </dd>

        <dt>
            @Html.Label("Video")
        </dt>
        <dd>
            <iframe class="youtube-video-edit" src="@Model.VideoUrl"></iframe>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsCategory.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
